li{
    list-style-type: none;
}

h1 {
    font-size: 90px;
}

nav{
    display: flex;
    justify-content: center;
    background-color: rgb(15, 209, 235);
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter{
    color: rgb(197, 65, 65);
    opacity: 0;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.filter:hover{
    opacity: 1;
}

footer{
    background-color: rgb(15, 209, 235);
    padding-bottom: 2px;
    line-height: 1;
}

.footer{
    display: flex;
    justify-content: space-around;
}
